<!-- Right navbar links -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                    <img src="__ADMIN__/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>
                <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                    <img src="__ADMIN__/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>
                <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                    <img src="__ADMIN__/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>
                <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
    </li>

    <!-- Language Dropdown Menu -->
    <!-- 需要引入 flag-icon.min.css s-->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="flag-icon flag-icon-cn"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-0">
            <a href="#" class="dropdown-item active">
                <i class="flag-icon flag-icon-cn mr-2"></i> 中文
            </a>
            <a href="#" class="dropdown-item">
                <i class="flag-icon flag-icon-us mr-2"></i> English
            </a>
            <a href="#" class="dropdown-item">
                <i class="flag-icon flag-icon-de mr-2"></i> German
            </a>
            <a href="#" class="dropdown-item">
                <i class="flag-icon flag-icon-fr mr-2"></i> French
            </a>
            <a href="#" class="dropdown-item">
                <i class="flag-icon flag-icon-es mr-2"></i> Spanish
            </a>
        </div>
    </li>

    <!-- User Dropdown Menu -->
    {if $user}
    <li class="nav-item dropdown user-menu">

        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <img src="{$user['avatar']}" class="user-image img-circle elevation-2" alt="User Image">
            <span class="d-none d-md-inline">{$user['nickname']}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <!-- User image -->
            <li class="user-header bg-primary">
                <img src="{$user['avatar']}" class="img-circle elevation-2" alt="User Image">

                <p>
                    {$user['nickname']}
                    <small>{$user['create_time']}</small>
                </p>
            </li>
            <!-- Menu Body -->
            <!--
            <li class="user-body">
                <div class="row">
                    <div class="col-4 text-center">
                        <a href="#">粉丝</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#">好友</a>
                    </div>
                </div>
            </li>
            -->
            <!-- Menu Footer-->
            <li class="user-footer">
                <a href="{:_url('user/index')}" class="btn btn-default btn-flat">会员中心</a>
                <button data-url="{:_url('login/logout')}" class="btn btn-default btn-flat float-right AjaxButton logout">退出</button>
            </li>
        </ul>
    </li>
    {else /}
    <li class="nav-item">
        <a href="javascript:" data-url="{:_url('login/login')}" class="nav-link login" style="padding-right: 0;">登录</a>
    </li>
    <li class="nav-item">
        <a href="{:_url('login/register')}" class="nav-link" style="padding-left: 0.3rem;padding-right: 0;">注册</a>
    </li>
    {/if}


    <!--
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
    -->
</ul>