<!-- sidenav 会员中心左侧导航 start -->
<div class="sidebar-toggle"><i class="fa fa-bars"></i></div>
<div class="sidenav" id="sidebar-nav">
    <ul class="list-group">
        <li class="list-group-heading">会员中心</li>
        <li class="list-group-item active"> <a href="{:_url('user/index')}"><i class="fa fa-user-circle fa-fw"></i> 会员中心</a> </li>
        <li class="list-group-item"> <a href="{:_url('user/profile')}"><i class="fa fa-user-o fa-fw"></i> 个人资料</a> </li>
        <li class="list-group-item"> <a href="{:_url('user/change_password')}"><i class="fa fa-key fa-fw"></i> 修改密码</a> </li>
        <li class="list-group-item"> <a href="{:_url('user/logout')}"><i class="fa fa-sign-out fa-fw"></i> 退出</a> </li>
    </ul>
</div>
<!-- sidenav 会员中心左侧导航 end -->