<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!-- Theme style -->
<link rel="stylesheet" href="__ADMIN__/plugins/fontawesome-free/css/all.min.css">
<!-- fontawesome iconpicker -->
<link rel="stylesheet" href="__ADMIN__/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css">
<!-- ionicons -->
<link rel="stylesheet" href="__STATIC_CSS__/ionicons.min.css">
<!--<link defer rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
<!-- 顶部进度条 nprogress -->
<link rel="stylesheet" href="__ADMIN__/plugins/nprogress/nprogress.css">
<!-- 进度条 pace-progress -->
<!--<link rel="stylesheet" href="__ADMIN__/plugins/pace-progress/themes/blue/pace-theme-flat-top.css">-->
<!-- flag-icon-css 旗帜图标 -->
<link rel="stylesheet" href="__ADMIN__/plugins/flag-icon-css/css/flag-icon.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="__ADMIN__/plugins/toastr/toastr.min.css">

<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="__ADMIN__/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="__ADMIN__/plugins/daterangepicker/daterangepicker.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="__ADMIN__/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="__ADMIN__/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="__ADMIN__/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="__ADMIN__/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="__ADMIN__/plugins/dropzone/min/dropzone.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="__ADMIN__/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="__ADMIN__/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<!-- viewer 图片预览 -->
<link rel="stylesheet" href="__ADMIN__/plugins/viewer/viewer.min.css">

<!-- summernote 编辑器 -->
<link rel="stylesheet" href="__ADMIN__/plugins/summernote/summernote-bs4.css">

<!-- fileinput -->
<link rel="stylesheet" href="__ADMIN__/plugins/fileinput/css/fileinput.min.css">

<!-- app -->
<link rel="stylesheet" href="__ADMIN__/dist/css/adminlte.min.css">
<!-- hot admin -->
<link rel="stylesheet" href="__STATIC_CSS__/hot_admin.css">


