{extend name="public/base" /}
{block name="css"}

{/block}

{block name="js"}

{/block}

{block name="content"}
<div class="row">

    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="{$profile.avatar}"
                         alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{$profile.username}</h3>

                <p class="text-muted text-center">{$profile.nickname}</p>

                <!--
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                </ul>
                -->

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills navPills">
                    <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">个人资料</a></li>
                    <li class="nav-item"><a class="nav-link" href="#modify_password" data-toggle="tab">修改密码</a></li>
                    <li class="nav-item"><a class="nav-link" href="#modify_avatar" data-toggle="tab">修改头像</a></li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="profile">
                        <form class="form-horizontal dataForm" method="post" action="{:_url('edit')}">
                            <input type="hidden" name="id" value="{$profile.id}">
                            <div class="form-group row">
                                <label for="nickname" class="col-sm-2 col-form-label">昵称</label>
                                <div class="col-sm-4 formInput">
                                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入用户名" value="{$profile.nickname}">
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" onclick="submitEditForm(this)">保存</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="modify_password">
                        <form class="form-horizontal dataForm" method="post" action="{:_url('edit')}">
                            <input type="hidden" name="id" value="{$profile.id}">
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">原密码</label>
                                <div class="col-sm-4 formInput">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入原密码" >
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="ace-icon fa fa-eye seePassword" title="显示密码"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="form-group row">
                                <label for="new_password" class="col-sm-2 col-form-label">新密码</label>
                                <div class="col-sm-4 formInput">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="ace-icon fa fa-eye seePassword" title="显示密码"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="form-group row">
                                <label for="re_new_password" class="col-sm-2 col-form-label">重复新密码</label>
                                <div class="col-sm-4 formInput">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="re_new_password" name="re_new_password" placeholder="请再次输入新密码">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="ace-icon fa fa-eye seePassword" title="显示密码"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" onclick="submitEditForm(this)">保存</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="modify_avatar">
                        <form class="form-horizontal dataForm" method="post" action="{:_url('edit')}" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{$profile.id}">
                            <div class="form-group row">
                                <label for="avatar" class="col-sm-2 col-form-label">头像</label>
                                <div class="col-sm-8 formInput">
                                    <div class="input-group">
                                        <input id="avatar_file" name="avatar_file" type="file" class="file-loading " data-initial-preview="{if isset($profile)}{$profile.avatar}{/if}">
                                        <input id="avatar" name="avatar" class="fieldImage" value="{$profile.avatar|default=''}" hidden placeholder="请上传图片">
                                        <script>
                                            initUploadImg('avatar');
                                        </script>
                                    </div>

                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" onclick="submitEditForm(this)">保存</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->

</div>
<script>

    $(function () {
        setNavTab('.navPills');//设置tab

        $('.seePassword').on('click',function(){
            seePassword(this)
        })
    })

    function submitEditForm(obj)
    {
        var form = $(obj).closest('form');
        $(form).validate({
            rules: {
                'nickname': {
                    required: true
                },
                'password': {
                    required: true
                },
                'new_password': {
                    required: true
                },
                're_new_password': {
                    required: true
                }
            },
            messages: {
                'nickname': {
                    required: '请出入昵称'
                },
                'password': {
                    required: '请输入原密码'
                },
                'new_password': {
                    required: '请输入新密码'
                },
                're_new_password': {
                    required: '请再次输入新密码'
                }
            }
        })
    }

    //密码隐藏显示
    function seePassword(obj)
    {
        var password_input = $(obj).parent().parent().parent().children('input:first-child');
        var pwdValue = password_input.val();//获取密码值
        console.log(pwdValue)
        if(pwdValue == '')
            return;

        var _type = password_input.attr('type');//获取input的type类型
        if(_type == 'password'){
            password_input.attr('type','text');
            $(obj).attr('class','ace-icon fa fa-eye-slash');
            $(obj).attr('title','隐藏密码');
        }else if(_type == 'text'){
            password_input.attr('type','password');
            $(obj).attr('class','ace-icon fa fa-eye');
            $(obj).attr('title','显示密码');
        }
        password_input.val(pwdValue);
    }

</script>
{/block}



