{extend name="public/base" /}
{block name="header"}{/block}

{block name="content"}

<div class="row">
    <div class="col-12 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                Digital Strategist
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>Nicole Pearson</b></h2>
                        <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small p-1"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 地址： Demo Street 123, Demo City 04312, NJ</li>
                            <li class="small p-1"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 电话 #: + 800 - 12 12 23 52</li>
                        </ul>
                    </div>
                    <div class="col-5 text-right">
                        <img src="__ADMIN__/dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Default box -->
<div class="card">
    <div class="card-body row">
        <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
                <h2>Admin<strong>LTE</strong></h2>
                <p class="lead mb-5">123 Testing Ave, Testtown, 9876 NA<br>
                    Phone: +1 234 56789012
                </p>
            </div>
        </div>
        <div class="col-7">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" id="inputName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="inputEmail">E-Mail</label>
                <input type="email" id="inputEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label for="inputSubject">Subject</label>
                <input type="text" id="inputSubject" class="form-control" />
            </div>
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea id="inputMessage" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send message">
            </div>
        </div>
    </div>
</div>


{/block}

{block name="footer"}{/block}