{extend name="public/base" /}
{block name="css"}

{/block}

{block name="js"}

{/block}


{block name="content"}
<div class="row">
    <div class="col-sm-12">

        <!-- Horizontal Form -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Horizontal Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal dataForm" action="{:_url('add')}" method="post" enctype="multipart/form-data">
                {:token_field()}
                <div class="card-body">

                    <div class="form-group row">
                        <label for="pid" class="col-sm-2 col-form-label form-check-label">父级分组</label>
                        <div class="col-sm-4 formInput">
                            <select class="form-control select2" id="pid" name="pid" style="width: 100%;">
                                <option value="{$pid}">请选择</option>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label form-check-label">名称</label>
                        <div class="col-sm-4 formInput">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称" value="">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <div class="form-group row">
                        <label for="status_sw" class="col-sm-2 col-form-label form-check-label">启用</label>
                        <div class="col-sm-10 col-md-4 col-form-label">
                            <input type="checkbox" id="status_sw"  data-bootstrap-switch>
                            <input type="hidden" id="status" name="status" value="">
                            <script>
                                $("#status_sw").bootstrapSwitch({
                                    onText: "是",//开启时展示的文本
                                    offText: "否",//关闭时展示的文本
                                    onColor: "primary",
                                    offColor: "default",
                                    //labelText: '&nbsp',//空白区域的文本
                                    //handleWidth: 'auto',
                                    //labelWidth: 'auto',
                                    //baseClass: 'bootstrap-switch',
                                    //wrapperClass: 'wrapper',
                                    //size: "small",
                                    state: true, // 默认状态
                                //inverse: false, // 是否交换 on off 位置
                                onInit: function onInit() { },
                                onSwitchChange: function (event, state) {
                                    //切换时的回调 state
                                    console.log('state:'+ state)
                                    $("#status").val(state ? "1" : 0);
                                }
                                })
                            </script>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!-- /.card -->

    </div>
</div>


<script>

    $.ajax({
            url: "{:_url('groups')}",
            dataType: 'json',
            type: 'get',
            data: {'type':0},
            complete: function () {
                //console.log('%cajax提交完成x', ';color:#00a65a');
            },
            success: function (result) {
                //console.log('%cajax提交完成x', ';color:#00a65a');
                console.log(result.data);
                //$('#parent_id').html(generateMenuTree(result.data));
                $('#pid').children().first().after( generateMenuTree(result.data) );
            },
            error: function (xhr, type, errorThrown) {
                console.log('error');
            }
        }
    );
    $(function () {
        $('.dataForm').validate({
            rules:{
                'name':{
                    required: true,
                },
                'pid': {
                    required: true,
                }
            },
            messages:{
                'name':{
                    required: '名称不能为空',
                },
                'pid': {
                    required: '请选择父分组',
                }
            }
        });
    });

</script>

<script>
    function generateMenuTree(data, paddingLeft='') {
        var html = '';

        var pdStr = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
        paddingLeft += pdStr;//子菜单缩进
        // 遍历每个节点
        for (var i in data) {
            var selt = '';
            if(data[i].id == getUrlParam('pid'))
                selt = 'selected';

            if(data[i].pid === 0)
                paddingLeft = '';//顶级菜单

            html += '<option value="' + data[i].id + '" ' + selt + '>' + paddingLeft + data[i].name + '</option>';
            // 如果该节点还有子节点，则递归生成子菜单
            if (!$.isEmptyObject(data[i].children)) {
                html += generateMenuTree(data[i].children, paddingLeft) ;
            }
        }
        return html;
    }


</script>

{/block}



